# joining tables
a key concept for tidy data is the separation of data into tables, such that only relevant data is stored in each table. this reduces data size and increases readability. 

however, what data are relevant together can change based on the use case, so we often need to bring together into a single table information from two or more tables. the `join` operations that do this are the topic of today's session.

## today's exercise
consider the new york rodent inspection dataset from last time. we have already discussed how to read in that data, how to clean/manipulate the datetime information in it, and how to use group by and aggregation to calculate things like the monthly number of inspections. 

one might suspect that the weather plays a role in how many rodent inspections occur in a given day/week/month. to explore that hypothesis we must join the data on daily new york rodent inspection counts with data on the daily weather in new york. in the `data` folder there is a data file containing the daily weather summary for new york. read it in, count the number of inspections per day and join the result with the daily weather (precipitation (`PRCP` and `SNOW`) and temperature (`TMAX`, `TMIN`, and `TAVG`). then calculate the average number of daily inspections for days when the precipitation is nonzero, and the average number of daily inspaections for days when the precipitation is zero.

## note on image credits
this notebook contains links to animated gifs which i copied from here: https://github.com/gadenbuie/tidyexplain

# the art of the join
- in the following, when we talk of tables we mean a `pandas` dataframe.
- when we talk about joining tables, order matters. that is, joining table `x` with table `y` is in general not the same as joining `y` to `x`.
- in order to be able to join two tables into a single table, they must have at least one column in common, a column that is the key to the join and lets us know which row of one table to match against the other. 
- the resulting joined table retains some subset of the rows and columns of the two tables. 
- we will be using the `pd.merge()` function:
```
pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)
```
consider two tables, `x` and `y` defined as dataframes below (for comparison to this week's exercise, imagine  `x` has information on the count of inspections per day, and table `y` has the daily weather information):

In [1]:
import pandas as pd
x = pd.DataFrame([{'a':1, 'b':'x1'}, {'a':2, 'b':'x2'}, {'a':3, 'b':'x3'}], index=[1,2,3])
y = pd.DataFrame([{'a':1, 'c':'y1'}, {'a':2, 'c':'y2'}, {'a':4, 'c':'y4'}], index=[11,12,13])

In [2]:
print(x)

   a   b
1  1  x1
2  2  x2
3  3  x3

In [3]:
print(y)

    a   c
11  1  y1
12  2  y2
13  4  y4

note that `x` and `y` have one column in common: column `a`. each dataframe also has another column unique to itself. 
it is a good idea to pause here and think about what you expect the resulting joined table to look like? in fact there are several different ways to join these tables with different results. 

let's start with the simplest.

## full outer join
a *full outer join* of `x` and `y` is a table containing all the rows of `x` and all the rows of `y`, matched up on columns in common. wherever one table has a gap (lacks a value of the key), a `NaN` is inserted in its columns. 
![full join](images/full-join.gif)
this is the kind of join we would use when we are concerned about not dropping any of the data. 

here is how we can execute this kind of join:

In [4]:
outer_join = pd.merge(x,y,how='outer')
print(outer_join)

   a    b    c
0  1   x1   y1
1  2   x2   y2
2  3   x3  NaN
3  4  NaN   y4

note that the index is not being used.

## inner join
an *inner join* of `x` and `y` is a table containing only the rows of `x` and only the rows of `y` that have a match in the key column.
![inner join](images/inner-join.gif)
this is the kind of join we would often use when we want to investigate (model or plot) the relantionship between columns `b` and `c` and cannot use rows where either is missing.

In [5]:
inner_join = pd.merge(x, y, how='inner', on='a')
print(inner_join)

   a   b   c
0  1  x1  y1
1  2  x2  y2

## left join
a *left join* of `x` and `y` is a table containing all the rows of `x` and only the rows of `y` which have matching values in the key column(s).
![left join](images/left-join.gif)
this is the most frequently used type of join. we use this kind of join when `x` is our main data table that we do not want to drop rows from, but we are augmenting it with some other external data, `y`.

In [6]:
left_join = pd.merge(x,y,how='left', on='a')
print(left_join)

   a   b    c
0  1  x1   y1
1  2  x2   y2
2  3  x3  NaN

## right join
a *right join* of `x` and `y` is a table containing all the rows of `y` and only the rows of `x` which have matching values in the key column(s).
![right join](images/right-join.gif)
right join of `x` and `y` is exactly like a left join of `y` and `x`. what matters is which table is the one whose data we are not willing to drop in case of missing key values

In [7]:
left_join = pd.merge(x,y,how='right')
print(left_join)

   a    b   c
0  1   x1  y1
1  2   x2  y2
2  4  NaN  y4

## specifying columns
in case there are no identically named columns between the two tables, we must specify the column in each table

In [8]:
x = pd.DataFrame([{'x_a':1, 'x_b':'x1'}, {'x_a':2, 'x_b':'x2'}, {'x_a':3, 'x_b':'x3'}], index=[1,2,3])
print(x)
y = pd.DataFrame([{'y_a':1, 'y_c':'y1'}, {'y_a':2, 'y_c':'y2'}, {'y_a':4, 'y_c':'y4'}], index=[1,2,3])
print(y)

   x_a x_b
1    1  x1
2    2  x2
3    3  x3
   y_a y_c
1    1  y1
2    2  y2
3    4  y4

In [9]:
inner_join = pd.merge(x, y, how='inner', left_on='x_a', right_on='y_a')
print(inner_join)

   x_a x_b  y_a y_c
0    1  x1    1  y1
1    2  x2    2  y2

In [10]:
left_join = pd.merge(x, y, how='left', left_on='x_a', right_on='y_a').drop(['y_a'], axis=1)
print(left_join)

   x_a x_b  y_c
0    1  x1   y1
1    2  x2   y2
2    3  x3  NaN

# filtered joins

## left semi join
a *left semi join* of `x` and `y` is a table which retains only the columns of `x` and only the rows where `x` and `y` have matching keys. i
![semi join](images/semi-join.gif)
(a rarely-seen *right semi join* works similarly) in effect, the rows of `x` get filtered by the intersection of the keys in `x` and `y`. we use a semi join to trim a dataframe based on another dataframe or list.

In [11]:
boolean_mask = x['a'].isin(y['a'])
print(boolean_mask)
semi_join = x.loc[boolean_mask]
print(semi_join)

KeyError: 'a'

## intersect
when `x` and `y` have some number of columns in common, an *intersect join* of `x` and `y` is a table with the common columns, containing only the rows of `x` and `y` which have matching values in those columns, dropping the rows that only occur in each tables.
![intersect join](images/intersect.gif)

In [ ]:
x = pd.DataFrame([{'a':1, 'b':'x1'}, {'a':2, 'b':'x2'}, {'a':3, 'b':'x3'}])
y = pd.DataFrame([{'a':1, 'b':'x1', 'c':'y1'}, {'a':2, 'b':'x4', 'c':'y2'}, {'a':4, 'b':'x1', 'c':'y4'}])
print(x)
print(y)

In [ ]:
boolean_mask = x['a'].isin(y['a']) & x['b'].isin(y['b'])
#print(boolean_mask)
intersect = y.loc[boolean_mask].drop(['c'], axis=1)
print(intersect)

this gets simpler when the dataframes have the same columns:

In [ ]:
x = pd.DataFrame([{'col1':1, 'col2':'a'}, {'col1':1, 'col2':'b'}, {'col1':2, 'col2':'a'}])
y = pd.DataFrame([{'col1':1, 'col2':'a'}, {'col1':2, 'col2':'b'}])
print(x)
print(y)

In [ ]:
intersect_join = pd.merge(x,y,how='inner')
print(intersect_join)

# Exercise solution

In [12]:
import pandas as pd
from datetime import datetime

In [13]:
filename_csv = 'data/NY_rodent_inspections_sample.csv' # for full on run
rodent_df = pd.read_csv(filename_csv) 
# inspect the data frame
# rodent_df.shape
rodent_df.head

<bound method NDFrame.head of      INSPECTION_TYPE  JOB_TICKET_OR_WORK_ORDER_ID    JOB_ID  JOB_PROGRESS  \
0               BAIT                            1   PO12965             3
1               BAIT                            2   PO12966             3
2               BAIT                           30   PO16966             3
3               BAIT                           31   PO13665             3
4               BAIT                           38   PO11291             3
5               BAIT                           39   PO12483             3
6               BAIT                           41   PO25356             3
7               BAIT                           46   PO16381             3
8               BAIT                           48   PO11801             3
9               BAIT                           50   PO11803             3
10              BAIT                           51   PO11817             3
11              BAIT                           52   PO11077             3
12              BAIT                           53   PO15241             3
13              BAIT                           57   PO10580             3
14              BAIT                           58   PO13111             3
15              BAIT                           59   PO10759             3
16              BAIT                           60   PO11965             3
17              BAIT                           61   PO11019             3
18              BAIT                           63   PO10782             3
19              BAIT                           66   PO10165             3
20              BAIT                           73   PO13732             3
21              BAIT                           77   PO13369             3
22              BAIT                           84   PO12817             3
23              BAIT                           85   PO14758             3
24              BAIT                           88   PO11791             3
25              BAIT                           90   PO11841             3
26              BAIT                           91   PO11717             3
27              BAIT                          101   PO14335             3
28              BAIT                          103   PO10576             3
29              BAIT                          105   PO12629             3
...              ...                          ...       ...           ...
9969            BAIT                        23663  PO106434             6
9970            BAIT                        23664  PO106433             6
9971            BAIT                        23665  PO106432             6
9972            BAIT                        23667   PO66210             5
9973            BAIT                        23671   PO63154             6
9974            BAIT                        23672   PO63195             5
9975            BAIT                        23673   PO83043             5
9976            BAIT                        23675   PO86856             5
9977            BAIT                        23676   PO83535             6
9978            BAIT                        23677   PO87843             6
9979            BAIT                        23678   PO99677             6
9980            BAIT                        23686  PO107560             2
9981            BAIT                        23805  PO123826             4
9982            BAIT                        23806  PO123815             4
9983            BAIT                        23807  PO124469             4
9984            BAIT                        23808  PO124270             4
9985            BAIT                        23809  PO123873             4
9986            BAIT                        23811  PO123602             4
9987            BAIT                        23813  PO124436             4
9988            BAIT                        23814  PO124453             4
9989            BAIT                        23815  PO124451             4
9990            BAIT                        23816  PO124452             4
9991            BAIT                        23817  PO124205             4
9992            BAIT                        23820  PO123787             4
9993            BAIT                        23823  PO123783             4
9994            BAIT                        23826  PO107033             5
9995            BAIT                        23827   PO69910             6
9996            BAIT                        23828   PO37474             8
9997            BAIT                        23830   PO84268             5
9998            BAIT                        23831   PO59293            11

             BBL  BORO_CODE  BLOCK  LOT HOUSE_NUMBER           STREET_NAME  \
0     1011470035          1   1147   35          104        WEST 76 STREET
1     1011470034          1   1147   34          102        WEST 76 STREET
2     2043370027          2   4337   27          620        THWAITES PLACE
3     2037670077          2   3767   77         1227      WHITEPLAINS ROAD
4     1011690057          1   1169   57         2199              BROADWAY
5     1015340012          1   1534   12          232        EAST 89 STREET
6     1015860005          1   1586    5          515        EAST 89 STREET
7     2028140048          2   2814   48         1952        ANTHONY AVENUE
8     2026930022          2   2693   22         1230       PROSPECT AVENUE
9     2026930008          2   2693    8         1198       PROSPECT AVENUE
10    1003770026          1    377   26          390         EAST 8 STREET
11    1003890019          1    389   19          202         EAST 7 STREET
12    1004590040          1    459   40           19         EAST 3 STREET
13    1002100005          1    210    5          336          CANAL STREET
14    1003920010          1    392   10          350        EAST 10 STREET
15    1004290001          1    429    1           12              1 AVENUE
16    1004420011          1    442   11           31         EAST 1 STREET
17    1004470009          1    447    9          306         EAST 6 STREET
18    1019180023          1   1918   23          119       WEST 133 STREET
19    1020690042          1   2069   42          880    ST NICHOLAS AVENUE
20    1021110099          1   2111   99          446       WEST 167 STREET
21    1021310035          1   2131   35          534       WEST 175 STREET
22    1004510053          1    451   53          317         EAST 9 STREET
23    1004540031          1    454   31          342        EAST 13 STREET
24    1014680033          1   1468   33          486        EAST 74 STREET
25    1015570034          1   1557   34          332        EAST 95 STREET
26    1016140013          1   1614   13           21       EAST 108 STREET
27    1011290002          1   1129    2           57        WEST 76 STREET
28    1011540101          1   1154  101          249        WEST 62 STREET
29    1011650005          1   1165    5          269        WEST 73 STREET
...          ...        ...    ...  ...          ...                   ...
9969  3017880037          3   1788   37          554      LAFAYETTE AVENUE
9970  3017880038          3   1788   38          556      LAFAYETTE AVENUE
9971  3017880043          3   1788   43         562A      LAFAYETTE AVENUE
9972  3009460036          3    946   36          396       DOUGLASS STREET
9973  1005670013          1    567   13           14        EAST 10 STREET
9974  1005690032          1    569   32           23        EAST 11 STREET
9975  1002750022          1    275   22           30         MARKET STREET
9976  1002800022          1    280   22           15         MARKET STREET
9977  1003900057          1    390   57          197         EAST 7 STREET
9978  1003950003          1    395    3          199              AVENUE B
9979  1004320001          1    432    1           66              1 AVENUE
9980  4022740002          4   2274    2       120-55      QUEENS BOULEVARD
9981  2027050031          2   2705   31         1087          KELLY STREET
9982  2027050047          2   2705   47         1065          KELLY STREET
9983  2027130018          2   2713   18          966    WESTCHESTER AVENUE
9984  2027150035          2   2715   35          971    WESTCHESTER AVENUE
9985  2027160157          2   2716  157         1053        TIFFANY STREET
9986  2026930022          2   2693   22         1230       PROSPECT AVENUE
9987  2026960001          2   2696    1          911       LONGWOOD AVENUE
9988  2026970001          2   2697    1          889         DAWSON STREET
9989  2026970019          2   2697   19          939       EAST 163 STREET
9990  2026970022          2   2697   22          915         DAWSON STREET
9991  2026990060          2   2699   60          937    WESTCHESTER AVENUE
9992  2027050021          2   2705   21         1070      INTERVALE AVENUE
9993  2027050025          2   2705   25         1078      INTERVALE AVENUE
9994  4097640117          4   9764  117        87-23            160 STREET
9995  2032610091          2   3261   91         3160         BAILEY AVENUE
9996  2032160021          2   3216   21         1944  ANDREWS AVENUE SOUTH
9997  2024260001          2   2426    1          381       EAST 166 STREET
9998  2028490081          2   2849   81           63        CLIFFORD PLACE

      ZIP_CODE  X_COORD  Y_COORD   LATITUDE  LONGITUDE    BOROUGH  \
0        10023   990505   223527  40.780204 -73.977414  Manhattan
1        10023   990516   223521  40.780188 -73.977375  Manhattan
2        10467  1020110   252216  40.858877 -73.870364      Bronx
3        10472  1022441   242180  40.831321 -73.861994      Bronx
4        10024   989641   224567  40.783059 -73.980533  Manhattan
5        10128   997617   223597  40.780388 -73.951734  Manhattan
6        10128   999449   222589  40.777619 -73.945122  Manhattan
7        10457  1011143   249042  40.850197 -73.902793      Bronx
8        10459  1012333   240622  40.827083 -73.898527      Bronx
9        10459  1012297   240506  40.826764 -73.898657      Bronx
10       10009   990654   203066  40.724044 -73.976896  Manhattan
11       10009   989741   203281  40.724634 -73.980190  Manhattan
12       10003   986804   203770  40.725978 -73.990786  Manhattan
13       10013   983586   201500  40.719748 -74.002395  Manhattan
14       10009   989987   203999  40.726605 -73.979302  Manhattan
15       10009   987488   202831  40.723400 -73.988318  Manhattan
16       10003   986933   203069  40.724054 -73.990320  Manhattan
17       10003   987552   204216  40.727202 -73.988087  Manhattan
18       10030  1000136   235540  40.813164 -73.942610  Manhattan
19       10032  1000384   241691  40.830047 -73.941700  Manhattan
20       10032  1001797   244793  40.838558 -73.936586  Manhattan
21       10033  1002298   247020  40.844669 -73.934769  Manhattan
22       10003   987961   204844  40.728925 -73.986611  Manhattan
23       10003   988579   205673  40.731200 -73.984380  Manhattan
24       10021   997179   219224  40.768386 -73.953324  Manhattan
25       10128   999013   224617  40.783186 -73.946691  Manhattan
26       10029   998291   229005  40.795231 -73.949289  Manhattan
27       10023   991001   223260  40.779471 -73.975624  Manhattan
28       10023   987539   221028  40.773346 -73.988125  Manhattan
29       10023   988921   223504  40.780142 -73.983134  Manhattan
...        ...      ...      ...        ...        ...        ...
9969     11205   997344   190508  40.689574 -73.952789   Brooklyn
9970     11205   997374   190473  40.689478 -73.952681   Brooklyn
9971     11205   997457   190526  40.689623 -73.952382   Brooklyn
9972     11217   989779   186527  40.678655 -73.980072   Brooklyn
9973     10003   985727   206305  40.733076 -73.994656  Manhattan
9974     10003   985935   206588  40.733619 -73.994046  Manhattan
9975     10002   985837   198949  40.712726 -73.994409  Manhattan
9976     10002   985684   199112  40.713213 -73.994803  Manhattan
9977     10009   989711   203341  40.724805 -73.980304  Manhattan
9978     10009   990183   204601  40.728263 -73.978600  Manhattan
9979     10009   988256   203506  40.725350 -73.985552  Manhattan
9980     11415  1031935   199424  40.713927 -73.827989     Queens
9981     10459  1012989   240171  40.825852 -73.896111      Bronx
9982     10459  1013021   239945  40.825221 -73.896118      Bronx
9983     10459  1013208   238961  40.822543 -73.895380      Bronx
9984     10459  1013167   239186  40.823146 -73.895495      Bronx
9985     10459  1013263   239820  40.824878 -73.895181      Bronx
9986     10459  1012448   240745  40.827432 -73.898090      Bronx
9987     10459  1012029   237553  40.818676 -73.899617      Bronx
9988     10459  1012590   238099  40.820131 -73.897596      Bronx
9989     10459  1012691   238311  40.820742 -73.897219      Bronx
9990     10459  1012673   238233  40.820474 -73.897292      Bronx
9991     10459  1012718   238880  40.822281 -73.897191      Bronx
9992     10459  1012861   239976  40.825313 -73.896491      Bronx
9993     10459  1012865   240063  40.825547 -73.896489      Bronx
9994     11432  1039216   197200  40.707774 -73.801744     Queens
9995     10463  1011423   259476  40.878840 -73.901741      Bronx
9996     10453  1008490   250758  40.854907 -73.913030      Bronx
9997     10456  1008570   241456  40.829389 -73.912123      Bronx
9998     10453  1008712   247532  40.846065 -73.911588      Bronx

             INSPECTION_DATE        RESULT           APPROVED_DATE  \
0     10/14/2009 12:00:27 PM  Bait applied  10/14/2009 03:01:46 PM
1     10/14/2009 12:51:21 PM  Bait applied  10/14/2009 03:02:30 PM
2     11/09/2009 12:59:55 PM  Bait applied  11/10/2009 02:54:52 PM
3     11/09/2009 11:10:16 AM  Bait applied  11/10/2009 02:56:42 PM
4     11/10/2009 08:40:42 AM  Bait applied  11/17/2009 11:39:11 AM
5     11/10/2009 09:53:06 AM  Bait applied  11/17/2009 11:39:42 AM
6     11/10/2009 09:00:51 AM  Bait applied  11/17/2009 11:35:04 AM
7     11/16/2009 12:59:45 PM  Bait applied  11/16/2009 04:20:18 PM
8     11/16/2009 12:06:24 PM  Bait applied  11/16/2009 04:19:27 PM
9     11/16/2009 11:50:25 AM  Bait applied  11/16/2009 04:20:04 PM
10    11/16/2009 09:55:20 PM  Bait applied  11/19/2009 12:09:49 PM
11    11/16/2009 10:20:14 PM  Bait applied  11/23/2009 12:11:55 PM
12    11/16/2009 09:25:46 PM  Bait applied  11/19/2009 12:04:34 PM
13    11/17/2009 12:00:29 PM  Bait applied  11/23/2009 12:16:37 PM
14    11/17/2009 09:55:24 AM  Bait applied  11/23/2009 12:07:54 PM
15    11/17/2009 10:30:04 AM  Bait applied  11/23/2009 02:11:19 PM
16    11/17/2009 11:02:47 AM  Bait applied  11/19/2009 08:10:36 AM
17    11/17/2009 09:20:23 AM  Bait applied  11/19/2009 08:21:54 AM
18    11/18/2009 09:15:05 AM  Bait applied  11/19/2009 12:13:18 PM
19    11/18/2009 09:55:02 AM  Bait applied  11/19/2009 12:16:57 PM
20    11/20/2009 01:13:12 PM  Bait applied  11/23/2009 11:03:56 AM
21    11/20/2009 09:15:56 AM  Bait applied  11/23/2009 11:12:45 AM
22    11/20/2009 09:23:04 AM  Bait applied  11/23/2009 12:04:48 PM
23    11/20/2009 09:50:22 AM  Bait applied  11/23/2009 11:28:57 AM
24    11/20/2009 10:35:30 PM  Bait applied  11/23/2009 11:33:28 AM
25    11/20/2009 11:25:55 AM  Bait applied  11/23/2009 11:34:22 AM
26    11/20/2009 12:10:31 PM  Bait applied  11/23/2009 11:51:49 AM
27    11/23/2009 10:55:40 AM  Bait applied  11/24/2009 03:54:45 PM
28    11/23/2009 09:55:08 AM  Bait applied  11/24/2009 03:57:02 PM
29    11/23/2009 10:30:25 AM  Bait applied  11/24/2009 04:00:12 PM
...                      ...           ...                     ...
9969  07/14/2010 10:00:11 AM  Bait applied  07/14/2010 04:03:41 PM
9970  07/14/2010 10:23:32 AM  Bait applied  07/14/2010 04:02:58 PM
9971  07/14/2010 10:54:04 AM  Bait applied  07/14/2010 03:56:10 PM
9972  07/06/2010 11:27:19 AM  Bait applied  07/14/2010 03:55:10 PM
9973  07/14/2010 01:48:56 PM  Bait applied  07/15/2010 09:30:53 AM
9974  07/14/2010 01:35:24 PM  Bait applied  07/15/2010 09:29:17 AM
9975  07/14/2010 01:08:28 PM  Bait applied  07/15/2010 09:28:44 AM
9976  07/14/2010 12:55:50 PM  Bait applied  07/15/2010 09:26:29 AM
9977  07/14/2010 12:24:16 PM  Bait applied  07/15/2010 09:25:53 AM
9978  07/14/2010 12:10:23 PM  Bait applied  07/15/2010 09:25:13 AM
9979  07/14/2010 12:38:00 PM  Bait applied  07/15/2010 09:22:12 AM
9980  07/15/2010 08:55:26 AM  Bait applied  07/15/2010 03:10:19 PM
9981  07/15/2010 11:41:46 AM  Bait applied  07/16/2010 10:06:22 AM
9982  07/15/2010 11:35:05 AM  Bait applied  07/16/2010 10:05:51 AM
9983  07/15/2010 12:16:36 PM  Bait applied  07/16/2010 10:05:17 AM
9984  07/15/2010 12:08:41 PM  Bait applied  07/16/2010 10:02:49 AM
9985  07/15/2010 11:50:03 AM  Bait applied  07/16/2010 10:02:12 AM
9986  07/15/2010 11:19:47 AM  Bait applied  07/16/2010 10:00:52 AM
9987  07/15/2010 10:30:32 AM  Bait applied  07/16/2010 09:58:32 AM
9988  07/15/2010 10:23:13 AM  Bait applied  07/16/2010 09:57:35 AM
9989  07/15/2010 10:39:47 AM  Bait applied  07/16/2010 09:55:15 AM
9990  07/15/2010 10:15:00 AM  Bait applied  07/16/2010 09:54:43 AM
9991  07/15/2010 10:47:50 AM  Bait applied  07/16/2010 09:54:09 AM
9992  07/15/2010 09:36:11 AM  Bait applied  07/16/2010 09:52:13 AM
9993  07/15/2010 09:53:54 AM  Bait applied  07/16/2010 09:50:35 AM
9994  07/15/2010 10:10:46 AM  Bait applied  07/15/2010 02:07:33 PM
9995  07/15/2010 12:16:29 PM  Bait applied  07/16/2010 09:49:36 AM
9996  07/15/2010 12:07:55 PM  Bait applied  07/16/2010 09:49:01 AM
9997  07/15/2010 10:09:31 AM  Bait applied  07/16/2010 09:47:50 AM
9998  07/15/2010 11:54:37 AM  Bait applied  07/16/2010 09:47:16 AM

                                   LOCATION
0     (40.7802039792471, -73.9774144709456)
1      (40.7801875030438, -73.977374757787)
2     (40.8588765781972, -73.8703636422023)
3      (40.8313209626148, -73.861994089899)
4     (40.7830590725833, -73.9805333640688)
5      (40.780388216313, -73.9517343542567)
6     (40.7776185626037, -73.9451216392382)
7     (40.8501967689145, -73.9027926637706)
8     (40.8270826259387, -73.8985265540885)
9     (40.8267643536103, -73.8986571191557)
10     (40.7240436116555, -73.976895948583)
11     (40.7246343483455, -73.980189651703)
12    (40.7259778701156, -73.9907855310067)
13    (40.7197476131092, -74.0023953936767)
14     (40.726604927718, -73.9793015244998)
15    (40.7234003190272, -73.9883182080389)
16    (40.7240537571041, -73.9903203968151)
17    (40.7272017839871, -73.9880866345106)
18    (40.8131643309274, -73.9426104832865)
19     (40.8300466340453, -73.941699773442)
20     (40.8385580327087, -73.936585783534)
21     (40.844669486257, -73.9347691952077)
22    (40.7289253286763, -73.9866106472347)
23    (40.7312004499725, -73.9843803591535)
24     (40.768386131078, -73.9533243006866)
25     (40.7831856237632, -73.946691428707)
26    (40.7952306804656, -73.9492893669947)
27    (40.7794707699529, -73.9756237844939)
28      (40.77334648331, -73.9881253149363)
29    (40.7801418293715, -73.9831339876533)
...                                     ...
9969  (40.6895737131887, -73.9527893456412)
9970  (40.6894776020739, -73.9526812320327)
9971  (40.6896229510304, -73.9523818256282)
9972  (40.6786547628795, -73.9800724556327)
9973  (40.7330760527151, -73.9946561933202)
9974   (40.7336194841174, -73.994046351835)
9975  (40.7127264049032, -73.9944089320782)
9976  (40.7132134151726, -73.9948033151718)
9977  (40.7248051728811, -73.9803039967851)
9978  (40.7282632531992, -73.9785999260222)
9979    (40.72535029277, -73.9855517259032)
9980  (40.7139271635037, -73.8279891851757)
9981  (40.8258524554739, -73.8961110640611)
9982  (40.8252208136402, -73.8961181419837)
9983  (40.8225430430458, -73.8953795299481)
9984  (40.8231464587412, -73.8954952310811)
9985  (40.8248776736064, -73.8951813296861)
9986  (40.8274319686584, -73.8980904937896)
9987  (40.8186760242524, -73.8996170456372)
9988  (40.8201310209039, -73.8975963077973)
9989  (40.8207420244034, -73.8972187135464)
9990  (40.8204738315909, -73.8972922812013)
9991  (40.8222812434217, -73.8971906702658)
9992    (40.82531300756, -73.8964910829487)

In [14]:
weather_filename = "data/ny_weather_data_daily.csv"
weather_df = pd.read_csv(weather_filename)

In [15]:
format_descriptor = '%m/%d/%Y %I:%M:%S %p'
rodent_df['inspection_datetime']   = rodent_df.apply(lambda row: datetime.strptime(row['INSPECTION_DATE'], format_descriptor), axis=1)
rodent_df['inspection_day']      = rodent_df.apply(lambda row: row['inspection_datetime'].strftime("%Y-%m-%d"),   axis=1)

In [16]:
rodent_df['inspection_day']

0       2009-10-14
1       2009-10-14
2       2009-11-09
3       2009-11-09
4       2009-11-10
5       2009-11-10
6       2009-11-10
7       2009-11-16
8       2009-11-16
9       2009-11-16
10      2009-11-16
11      2009-11-16
12      2009-11-16
13      2009-11-17
14      2009-11-17
15      2009-11-17
16      2009-11-17
17      2009-11-17
18      2009-11-18
19      2009-11-18
20      2009-11-20
21      2009-11-20
22      2009-11-20
23      2009-11-20
24      2009-11-20
25      2009-11-20
26      2009-11-20
27      2009-11-23
28      2009-11-23
29      2009-11-23
           ...
9969    2010-07-14
9970    2010-07-14
9971    2010-07-14
9972    2010-07-06
9973    2010-07-14
9974    2010-07-14
9975    2010-07-14
9976    2010-07-14
9977    2010-07-14
9978    2010-07-14
9979    2010-07-14
9980    2010-07-15
9981    2010-07-15
9982    2010-07-15
9983    2010-07-15
9984    2010-07-15
9985    2010-07-15
9986    2010-07-15
9987    2010-07-15
9988    2010-07-15
9989    2010-07-15
9990    2010-07-15
9991    2010-07-15
9992    2010-07-15
9993    2010-07-15
9994    2010-07-15
9995    2010-07-15
9996    2010-07-15
9997    2010-07-15
9998    2010-07-15
Name: inspection_day, Length: 9999, dtype: object

In [17]:
weather_format_descriptor = '%Y-%m-%d'

weather_df["day"] = weather_df.apply(lambda row: datetime.strptime(row['DATE'], weather_format_descriptor), axis=1)

In [18]:
weather_df["day"].describe()

count                    3591
unique                   3591
top       2015-10-18 00:00:00
freq                        1
first     2009-01-01 00:00:00
last      2018-10-31 00:00:00
Name: day, dtype: object

In [19]:
inspection_day_counts = rodent_df.groupby('inspection_day').agg({'inspection_day':'count'})
inspection_day_counts = inspection_day_counts.rename(columns={"inspection_day" : "day_counts"})
# inspection_day_counts.reindex()
inspection_day_counts["date"] = inspection_day_counts.index
inspection_day_counts.head()

                day_counts        date
inspection_day
2009-01-16               1  2009-01-16
2009-10-14               2  2009-10-14
2009-11-09               2  2009-11-09
2009-11-10               3  2009-11-10
2009-11-16               6  2009-11-16

In [20]:
inspection_day_counts["day"] = inspection_day_counts.index

In [21]:
inspection_day_counts["date"] = pd.to_datetime(inspection_day_counts["date"])

In [22]:
inspection_day_counts.head()

                day_counts       date         day
inspection_day
2009-01-16               1 2009-01-16  2009-01-16
2009-10-14               2 2009-10-14  2009-10-14
2009-11-09               2 2009-11-09  2009-11-09
2009-11-10               3 2009-11-10  2009-11-10
2009-11-16               6 2009-11-16  2009-11-16

In [42]:
inspection_day_counts

                day_counts       date         day
inspection_day
2009-01-16               1 2009-01-16  2009-01-16
2009-10-14               2 2009-10-14  2009-10-14
2009-11-09               2 2009-11-09  2009-11-09
2009-11-10               3 2009-11-10  2009-11-10
2009-11-16               6 2009-11-16  2009-11-16
2009-11-17               5 2009-11-17  2009-11-17
2009-11-18               2 2009-11-18  2009-11-18
2009-11-20               7 2009-11-20  2009-11-20
2009-11-23               3 2009-11-23  2009-11-23
2009-11-24               4 2009-11-24  2009-11-24
2009-11-25               6 2009-11-25  2009-11-25
2009-11-30               7 2009-11-30  2009-11-30
2009-12-01               4 2009-12-01  2009-12-01
2009-12-02               1 2009-12-02  2009-12-02
2009-12-03               3 2009-12-03  2009-12-03
2009-12-04               2 2009-12-04  2009-12-04
2009-12-07              23 2009-12-07  2009-12-07
2009-12-08               3 2009-12-08  2009-12-08
2009-12-09               1 2009-12-09  2009-12-09
2009-12-11              14 2009-12-11  2009-12-11
2009-12-14              19 2009-12-14  2009-12-14
2009-12-15              17 2009-12-15  2009-12-15
2009-12-16              25 2009-12-16  2009-12-16
2009-12-17              39 2009-12-17  2009-12-17
2009-12-18               2 2009-12-18  2009-12-18
2009-12-22               6 2009-12-22  2009-12-22
2009-12-23               5 2009-12-23  2009-12-23
2009-12-24               6 2009-12-24  2009-12-24
2009-12-28              13 2009-12-28  2009-12-28
2009-12-29               6 2009-12-29  2009-12-29
...                    ...        ...         ...
2010-06-12             117 2010-06-12  2010-06-12
2010-06-13             103 2010-06-13  2010-06-13
2010-06-14              71 2010-06-14  2010-06-14
2010-06-15              53 2010-06-15  2010-06-15
2010-06-16              69 2010-06-16  2010-06-16
2010-06-17              43 2010-06-17  2010-06-17
2010-06-18              40 2010-06-18  2010-06-18
2010-06-19             113 2010-06-19  2010-06-19
2010-06-20              82 2010-06-20  2010-06-20
2010-06-21              54 2010-06-21  2010-06-21
2010-06-22              59 2010-06-22  2010-06-22
2010-06-23              49 2010-06-23  2010-06-23
2010-06-24              56 2010-06-24  2010-06-24
2010-06-25              90 2010-06-25  2010-06-25
2010-06-26             113 2010-06-26  2010-06-26
2010-06-27              45 2010-06-27  2010-06-27
2010-06-28              62 2010-06-28  2010-06-28
2010-06-29              67 2010-06-29  2010-06-29
2010-06-30              51 2010-06-30  2010-06-30
2010-07-02              22 2010-07-02  2010-07-02
2010-07-06              40 2010-07-06  2010-07-06
2010-07-07              71 2010-07-07  2010-07-07
2010-07-08              55 2010-07-08  2010-07-08
2010-07-09              41 2010-07-09  2010-07-09
2010-07-12              74 2010-07-12  2010-07-12
2010-07-13              82 2010-07-13  2010-07-13
2010-07-14              32 2010-07-14  2010-07-14
2010-07-15              19 2010-07-15  2010-07-15
2010-07-27               2 2010-07-27  2010-07-27
2011-10-27               1 2011-10-27  2011-10-27

[173 rows x 3 columns]

In [24]:
days_and_weather = pd.merge(inspection_day_counts,weather_df,how='left', left_on='date', right_on='day')
days_and_weather

,day_counts,date,day_x,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,...,WT13,WT14,WT15,WT16,WT17,WT18,WT19,WT21,WT22,day_y
0,1,2009-01-16,2009-01-16,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-01-16,6.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-01-16
1,2,2009-10-14,2009-10-14,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-10-14,3.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-10-14
2,2,2009-11-09,2009-11-09,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-11-09,2.8,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-11-09
3,3,2009-11-10,2009-11-10,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-11-10,2.9,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-11-10
4,6,2009-11-16,2009-11-16,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-11-16,4.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-11-16
5,5,2009-11-17,2009-11-17,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-11-17,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-11-17
6,2,2009-11-18,2009-11-18,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-11-18,3.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-11-18
7,7,2009-11-20,2009-11-20,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-11-20,6.2,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2009-11-20
8,3,2009-11-23,2009-11-23,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-11-23,6.2,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2009-11-23
9,4,2009-11-24,2009-11-24,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-11-24,4.3,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2009-11-24
10,6,2009-11-25,2009-11-25,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-11-25,2.6,...,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2009-11-25
11,7,2009-11-30,2009-11-30,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-11-30,5.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2009-11-30
12,4,2009-12-01,2009-12-01,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-12-01,6.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-12-01
13,1,2009-12-02,2009-12-02,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-12-02,3.9,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2009-12-02
14,3,2009-12-03,2009-12-03,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-12-03,9.8,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2009-12-03
15,2,2009-12-04,2009-12-04,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-12-04,4.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-12-04
16,23,2009-12-07,2009-12-07,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-12-07,3.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-12-07
17,3,2009-12-08,2009-12-08,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-12-08,4.5,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2009-12-08
18,1,2009-12-09,2009-12-09,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-12-09,7.5,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2009-12-09
19,14,2009-12-11,2009-12-11,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-12-11,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-12-11
20,19,2009-12-14,2009-12-14,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-12-14,4.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-12-14
21,17,2009-12-15,2009-12-15,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-12-15,4.3,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-12-15
22,25,2009-12-16,2009-12-16,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-12-16,9.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-12-16
23,39,2009-12-17,2009-12-17,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-12-17,8.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-12-17
24,2,2009-12-18,2009-12-18,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-12-18,4.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-12-18
25,6,2009-12-22,2009-12-22,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-12-22,7.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-12-22
26,5,2009-12-23,2009-12-23,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-12-23,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-12-23
27,6,2009-12-24,2009-12-24,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-12-24,4.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-12-24
28,13,2009-12-28,2009-12-28,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-12-28,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009-12-28
29,6,2009-12-29,2009-12-29,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2009-12-29,12.3,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,2009-12-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,117,2010-06-12,2010-06-12,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-06-12,5.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-06-12
144,103,2010-06-13,2010-06-13,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-06-13,2.5,...,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2010-06-13
145,71,2010-06-14,2010-06-14,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-06-14,2.2,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2010-06-14
146,53,2010-06-15,2010-06-15,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-06-15,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-06-15
147,69,2010-06-16,2010-06-16,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-06-16,4.2,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-06-16
148,43,2010-06-17,2010-06-17,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-06-17,6.8,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2010-06-17
149,40,2010-06-18,2010-06-18,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-06-18,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-06-18
150,113,2010-06-19,2010-06-19,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-06-19,4.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-06-19
151,82,2010-06-20,2010-06-20,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-06-20,4.1,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2010-06-20
152,54,2010-06-21,2010-06-21,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-06-21,4.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-06-21
153,59,2010-06-22,2010-06-22,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-06-22,3.5,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2010-06-22
154,49,2010-06-23,2010-06-23,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-06-23,4.8,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-06-23
155,56,2010-06-24,2010-06-24,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-06-24,6.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-06-24
156,90,2010-06-25,2010-06-25,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-06-25,4.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-06-25
157,113,2010-06-26,2010-06-26,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-06-26,3.2,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2010-06-26
158,45,2010-06-27,2010-06-27,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-06-27,3.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-06-27
159,62,2010-06-28,2010-06-28,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-06-28,5.4,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2010-06-28
160,67,2010-06-29,2010-06-29,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-06-29,5.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-06-29
161,51,2010-06-30,2010-06-30,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-06-30,5.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-06-30
162,22,2010-07-02,2010-07-02,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-07-02,5.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-07-02
163,40,2010-07-06,2010-07-06,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-07-06,3.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-07-06
164,71,2010-07-07,2010-07-07,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-07-07,3.9,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-07-07
165,55,2010-07-08,2010-07-08,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-07-08,3.4,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2010-07-08
166,41,2010-07-09,2010-07-09,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-07-09,4.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-07-09
167,74,2010-07-12,2010-07-12,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-07-12,4.2,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2010-07-12
168,82,2010-07-13,2010-07-13,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-07-13,4.6,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2010-07-13
169,32,2010-07-14,2010-07-14,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-07-14,3.3,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2010-07-14
170,19,2010-07-15,2010-07-15,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-07-15,4.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-07-15
171,2,2010-07-27,2010-07-27,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2010-07-27,4.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010-07-27
172,1,2011-10-27,2011-10-27,USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",40.6386,-73.7622,3.4,2011-10-27,5.3,...,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2011-10-27

In [25]:
days_and_weather.columns

Index(['day_counts', 'date', 'day_x', 'STATION', 'NAME', 'LATITUDE',
       'LONGITUDE', 'ELEVATION', 'DATE', 'AWND', 'FMTM', 'PGTM', 'PRCP',
       'SNOW', 'SNWD', 'TAVG', 'TMAX', 'TMIN', 'WDF2', 'WDF5', 'WSF2', 'WSF5',
       'WT01', 'WT02', 'WT03', 'WT04', 'WT05', 'WT06', 'WT07', 'WT08', 'WT09',
       'WT11', 'WT13', 'WT14', 'WT15', 'WT16', 'WT17', 'WT18', 'WT19', 'WT21',
       'WT22', 'day_y'],
      dtype='object')

In [26]:
days_and_weather["total_precipitation"] = days_and_weather["SNOW"] + days_and_weather["PRCP"]

In [27]:
import numpy
days_and_weather["precipitation_bool"] = numpy.where(days_and_weather["total_precipitation"]>0, 1,0)

In [28]:
precip_summary = days_and_weather.groupby('precipitation_bool').agg({'precipitation_bool':'count'})
precip_summary

                    precipitation_bool
precipitation_bool
0                                  124
1                                   49

In [32]:
# days_and_weather

In [33]:
# inspection_day_counts.reset_index()

In [38]:
simple_days_and_weather = days_and_weather[["precipitation_bool", "date"]]

In [43]:
inspection_day_counts.keys()

Index(['day_counts', 'date', 'day'], dtype='object')

In [45]:
simple_days_and_weather.keys()

Index(['precipitation_bool', 'date'], dtype='object')

In [46]:
inpections_and_weather =pd.merge(inspection_day_counts,simple_days_and_weather,how='left', left_on='date', right_on='date')

In [48]:
inpections_and_weather.groupby()

       day_counts  precipitation_bool
count  173.000000          173.000000
mean    57.797688            0.283237
std     37.747318            0.451878
min      1.000000            0.000000
25%     29.000000            0.000000
50%     55.000000            0.000000
75%     88.000000            1.000000
max    140.000000            1.000000

In [68]:
final_answer = inpections_and_weather.groupby("precipitation_bool")["day_counts"].mean()

In [69]:
final_answer

precipitation_bool
0    54.693548
1    65.653061
Name: day_counts, dtype: float64